body{
    margin: 0;
}

a{
    color: blue;
}
.header-text{
    color: black;
}

.main-container{
    display: grid;
    grid-template-rows: 20% 70% 10%;
    height: 100vh; 
    width: 100%;
}

.post-categorie{
    color: rgb(54, 54, 255);
    font-weight: 600;
}

.header{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 16px;
    text-decoration: underline;
}

.post-header-h2{
    margin-top: 0;
    margin-bottom: 2px;
}

.post-data-p{
    margin-top: 0;
    color: grey;
    font-size: 0.8em;
}

.post{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    padding: 16px;

    max-width: 400px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 16px;
    gap: 16px;
}


.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 16px;
}